body, html {
	width: 1500px;
	height: 768px;
	font-size: 10px;
	font-family: Courier;
	margin: 0;
	background-color: #fff7e8;
}

h1 {
    color: #60afff;
	margin-left: 30px;
	font-family: Courier;
}

img {
	height: 300px;
	position:absolute;
	margin-left: 20px;
	border-radius: 20px;
}


.container {
  width: 1500px;
  height: 768px;
}

.topnav a.active{
	background-color: #c1e2ff;
    color: black;
}

.topnav {
	margin-left: 30px;
    overflow: hidden;
	width: 1500px;
}

.topnav ul{
	float: left;
	padding: 0;
	list-style: none;	
} 

.topnav li{
	outline-color:black;
	display: inline;
	float: left;
	line-height: 25x;
	height: 25px;
	border-bottom: 2px solid #888;
}
	
.topnav a {
    background-color: #4da6ff;
	display:block;
	float: left;
	color: #ffffff;
	padding: 8px;
    text-decoration: none;
    font-size: 15px;
	transition: .5s background-color;
}

.topnav a:hover {
    background-color: #c1e2ff;
    color: black;
}

.topnav a.active {
    background-color: #c1e2ff;
	outline-color:
    color: white;
	cursor: default;
}

.leftpane {
    width: 430px;
    height: 768px;
    float: left;
    margin-left: 10px;
	margin-top: 20px;
    border-collapse: collapse;
}

.rightpane {
	margin-top:20px;
    width: 800px;
    height: 768px;
    float: left;
}

.rightpane2 {
	font-family: Courier;
	font-size: 16px;
}

.rightpane2 p{
    width: 800px;
    height: 768px;
    float: left;
}

table{
	text-align: middle;
	position:absolute;
	width: 700px;
	height: 200px;
	float: left;
	border-collapse: collapse;
}

.rightpane p{
	font-family: Courier;
	font-size: 16px;
	margin-top: 290px;
	white-space:nowrap;
}



th, td{
	text-align: left;
	padding: 5px;
	font-size: 17px;
}

tr:nth-child(even){
	background-color: #e0fcff;
	}

tr:nth-child(odd){
	background-color: #d1f8ff;
	}



